from M2Crypto import DSA
import ipaddr

# These networks are used for geolocating internal networks.
IP_NETWORKS = [
   (ipaddr.IPv4Network("10.0.0.0/24"), "FI", "Helsinki, "Example network"),
]

PUBTKT_PRIVKEY = DSA.load_key(path_to_pubtkt_private_key)
PUBTKT_ALLOWED_DOMAINS=[domains_that_are_allowed_for_pubtkt]

# FUM is Futurice's proprietary user management tool. It's used to download user details (see login_frontend/management/commands/refresh_users.py)
FUM_ADDRESS="https://api.fum.futurice.com/v1/"
FUM_TOKEN="enter_your_token_here"

